@mixin text-style($color, $font-size, $font-family){
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}

$primary-color: #ff4043;
$secundary-color: blue;

.texts {
    h1{
        // color: #ff4043;
        // font-size: 34px;
        // font-family: Arial, Helvetica, sans-serif;

        @include text-style($primary-color, 34px, Arial)
    }
    p{
        // color: blue;
        // font-size: 22px;
        // font-family: sans-serif;

        @include text-style($secundary-color, 22px, sans-serif)
    }
}